<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<HTML>
<HEAD>
<meta name="GENERATOR" content="Microsoft&reg; HTML Help Workshop 4.1">
<!-- Sitemap 1.0 -->
<%
ICON = {
	:book       => 1,
	:folder     => 5,
	:question   => 9,
	:page       => 11,
	:internet   => 13,
	:info       => 17,
	:shortcut   => 19,
	:letter     => 23,
	:attachment => 25,
	:contact    => 27,
	:sound      => 29,
	:cd         => 31,
	:movie      => 33,
	:list       => 35,
	:idea       => 37,
	:note       => 39,
	:tool       => 41
}

@write_section = lambda do |node|
	%>
<UL>
	<%node.children.each do |child|
		icon = if child.anchor
			ICON[:info]
		elsif child.page.icon
			ICON[ child.page.icon.downcase.to_sym ] || child.page.icon
		else
			child.leaf? ? ICON[:page] : ICON[:book]
		end
		%>
		<LI> <OBJECT type="text/sitemap">
			<param name="Name" value="<%=CGI.escapeHTML child.title%>">
			<param name="Local" value="<%=FileUtils.win_path( @html_path / child.link ).gsub('&','%26')%>">
			<param name="ImageNumber" value="<%=icon%>">
			</OBJECT>
		<%@write_section[child] unless child.children.empty?%>
	<%end%>
</UL>
<%end%>
</HEAD><BODY>

<%@write_section[@bundle.toc]%>

</BODY></HTML>
