<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<HTML>
<HEAD>
<meta name="GENERATOR" content="Microsoft&reg; HTML Help Workshop 4.1">
<!-- Sitemap 1.0 -->
</HEAD><BODY>
<OBJECT type="text/site properties">
   <param name="FrameName" value="right">
</OBJECT>
<UL>
<%@global.index.each do |entry,pages|%>
   <LI> <OBJECT type="text/sitemap">
	   <param name="Name" value="<%=entry%>">
	   <param name="Local" value="<%=FileUtils.win_path( @html_path/pages.first.html_path )%>">
	   </OBJECT>
	<%unless pages.length==1%>
	<UL>
		<%pages.each do |page|%>
   <LI> <OBJECT type="text/sitemap">
	   <param name="Name" value="<%=page.title%>">
	   <param name="Local" value="<%=FileUtils.win_path( @html_path/page.html_path )%>">
	   </OBJECT>
		<%end%>	   
	</UL>
	<%end%>	   
<%end%>
</UL>
</BODY></HTML>