%h2 Hello World

%p
	It's the end of the world as we know it,
	and I feel fine. Because:

%ul
	%li
		I'm on my medication.
		Which is delicious.
		%ul
			%li I buy it from a store. A candy store.
	%li In the end, we're all going to go.