-# TODO: Breakdown by letter.
%ul#index
	- global.index.entries.each do |keyword,pages|
		- if pages.length == 1
			%li
				%a{ :href => pages.first.html_path }= keyword
		- else
			%li
				= keyword
				%ul
					- pages.each do |page|
						%li
							%a{ :href => page.html_path }= page.title

