!!! Strict
%html
	%head
		%link(rel='stylesheet' type='text/css' href='shared.css' media='all')
		%title= section.title
	%body.page
		#content
			#header
				%h1#title= section.title
				#breadcrumb TODO: section.breadcrumb
			#page
				%ul
					- section.entries.each do |entry|
						%li= entry.title
			#footer Copyright ©2010. All Rights Reserved.