title  : Additional Helpful Information
author : Gavin Kistner
date   : 2010-1-4
toc    : frist-post moar
+++
%h2#frist-post Title Verification
%p The title of this page should be "Additional Helpful Information", not "More Crap".

%h2#moar TOC Verification
:markdown
	The TOC for this page should have sub-entries for the referenced headings.
	
	* The links should be named for the headings.
	* The links should link to the headings.

%h2#dumb Exclusivity
%p The TOC should not, however, have this last heading.