This is a simple two paragraph page.

This is the second paragraph. Click on the $$foinkle$$ to start the fun.

IMPORTANT: READ THE FOLLOWING TERMS AND CONDITIONS BEFORE USING THE ACCOMPANYING NVIDIA PHYSX SDK.
BY CLICKING ON THE "ACCEPT” BUTTON, YOU ACKNOWLEDGE THAT YOU HAVE READ THIS AGREEMENT, UNDERSTAND IT AND AGREE TO BE BOUND BY THE TERMS OF THIS AGREEMENT. IF YOU DO NOT AGREE TO THE TERMS OF THIS AGREEMENT, NVIDIA IS NOT WILLING TO LICENSE THE PHYSX SDK TO YOU. IF YOU DO NOT AGREE TO THESE TERMS, YOU MAY, WITHIN 15 DAYS, DESTROY THIS ENTIRE PRODUCT AND PROVIDE WRITTEN VERIFICATION OF DELETION OF ALL COPIES OF THE ENTIRE PRODUCT.

RedCloth's parser is said to "sexify" English apostrophes and quotation marks...what does it do for the '80s--which should curl to the _left_--I wonder?

A 2x4 is actually 1.5" x 3.5".