title: Support from our Stellar Sales Representatives
summary: Excitement is in the air!
+++
%p
	Haml is useful if you need to run Ruby code to generate your content,
	or if you want to specify a lot of HTML structure cleanly.
%p
	There are probably #{rand(40)+2} things you could use this for.
	For example, perhaps you need to...fetch records from a database?
	I don't know. Haml usage is probably rare for page content.
%p
	Separate from the markup, this file shows the usage of a metadata preamble.
	In this case, it overrides the title (which would have been annoyingly-long
	for a file name) and also provides extra information about the page.