title: Combo the Other
keywords: explicit, metasection, attributes/specifying
no-index: headings
auto-section:true
toc: Heading 1, #h1-1, Giggity, #h0
+++
%h2#h1 Heading 1
%p#p1-1 Paragraph Number 1.1
%p#p1-2 Paragraph Number 1.2
%ul
	%li A list of items
	%li A list of items
	%li A list of items

%h3#h1-1 Heading 1.1
%p#p1-1-1 Paragraph Number 1.1.1

%h2#h2 Heading 2
%h3#h2-1 Heading 2.1
%h4#h2-1-1 Heading 2.1.1
%h5#h2-1-1-1 Heading 2.1.1.1
%p#p2-1-1-1-1 Paragraph Number 2.1.1.1.1

%h3#h2-2 Heading 2.2
%p#p2-2-1 Paragraph Number 2.2.1
%dl
	%dt Giggity
	%dd#dd1 Quagmire
	%dt#dt2 Zanzibar
	%dd#dd2 The Best

%p#p2-2-2 Paragraph Number 2.2.2

%h1#h0 Heading 0
%p#p0-1
	Paragraph 0.1
	Whoa, this heading is larger than any other before it!

#div
	Text content
	%b is
	cool.